.header {
    display: block;
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 160px;
    background: hsl(180, 29%, 50%);
    margin-bottom: 50px;
}

.mobile {
    height: 160px;
    display: none;
    background: url("Images/bg-header-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.desktop {
    height: 160px;
    background: url("Images/bg-header-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 555px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
}